Endurancetest.

   An endurancetest is a test running for a longer period. The purpose is to verify the stability of Your system when exposed
   to a large load for an extended period of time.

   In this type of test the individual requests are not relevant, we are more interested in the large picture. Histograms are also
   disabled, since not very much can be concluded, when the test contains heterogenous requests.

   The resulting report will contain responsetime statistics (in table and graphic form), throughput and possibly garbage collection info.

-------------------
<project>
    <build>
        <plugins>
            <plugin>
                <groupId>org.codehaus.mojo</groupId>
                <artifactId>chronos-jmeter-maven-plugin</artifactId>
                <version>${chronosversion}</version>
                <configuration>
                    <input>${basedir}/src/main/resources/endurancetestplan.jmx</input>
                    <dataid>endurancetest</dataid>
                </configuration>
                <executions>
                    <execution>
                        <goals>
                            <goal>jmeter</goal>
                        </goals>
                    </execution>
                </executions>
            </plugin>
        </plugins>
    </build>
    <reporting>
        <plugins>
            <plugin>
                <groupId>org.codehaus.mojo</groupId>
                <artifactId>chronos-report-maven-plugin</artifactId>
                <version>${chronosversion}</version>
                <configuration>
                    <title>Endurance test</title>
                    <description>This is an example of an endurance test</description>
                    <dataid>endurancetest</dataid>
                    <showsummary>true</showsummary>
                    <showhistogram>false</showhistogram>
                    <showdetails>false</showdetails>
                </configuration>
                <reportSets>
                    <reportSet>
                        <reports>
                            <report>report</report>
                        </reports>
                    </reportSet>
                </reportSets>
            </plugin>
        </plugins>
    </reporting>
</project>
-------------------


